<!doctype html>
<html ng-app="app">
<head>
    <script src="/assets/javascripts/angular-1.0.5.js"></script>
    <script src="/assets/javascripts/angular-resource-1.0.5.js"></script>
    <script src="/assets/javascripts/ui-bootstrap-0.4.0.js"></script>
    <script src="/assets/javascripts/radar.js"></script>
    <link href="/assets/stylesheets/main.css" rel="stylesheet">
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/assets/stylesheets/font-awesome.css" rel="stylesheet">
</head>
<body>

<div class="well" ng-controller="RadarController">
    <h1 tooltip="test">The fourth Anomaly</h1>
    <p>« The fourth anomaly» is based on the game « Anomalie 4 » and is a strategy - diplomacy game.</p>

    <hr/>

    <h2><strong>Welcome Commander {{commander.name}}</strong></h2>

    <div>
        <div style="width:65%;">
            <h3>Radar <i class="icon-compass"></i></h3>

            <p>The radar displays all your stars and the visible stars from your kingdom.</p>

            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" ng-height="{{u.radar.height()}}px" ng-width="{{u.radar.width()}}px" id="radarsvg">
                <path id="star" transform="scale({{u.star.scaleX()}},{{u.star.scaleY()}})" d="M 0 -1 L 0.588 0.809 -0.951 -0.309 0.951 -0.309 -0.588 0.809 Z"/>
                <path id="arrow" viewBox="0 0 10 10" refX=27 refY=5 markerUnits="strokeWidth" markerWidth=8 markerHeight=6 orient="auto" d="M 0 0 L 10 5 L 0 10 z"/>
                </defs>
                <rect ng-width="{{radar.sizeX}}" ng-height="{{radar.sizeY}}"
                      style="fill:rgb(230,230,230);stroke-width:1;stroke:rgb(0,0,0)"/>
                
                <!-- control zones -->
                <circle ng-repeat="star in radar.stars" ng-show="u.isStarOwned(star)" ng-cx="{{u.cx(star)}}" ng-cy="{{u.cy(star)}}" ng-r="{{radar.zoom * 7.07}}" fill="rgb(230,239,230)"/>

                <!-- selected star -->
                <circle ng-show="radar.selected" ng-cx="{{u.selectedStar.cx()}}" ng-cy="{{u.selectedStar.cy()}}" ng-r="{{radar.zoom}}" stroke="green" stroke-width="1" fill-opacity="0.1"  ignore="{{radar.selected}}"/>


                <!-- targeted star -->
                <circle ng-show="false" ng-cx="{{radar.centerX + radar.targeted.x * radar.zoom}}" ng-cy="{{radar.centerY + radar.targeted.y * radar.zoom + radar.offsetY}}" ng-r="{{radar.zoom + 10 }}" stroke="red" stroke-width="0.5" fill-opacity="0.1" />

                <line ng-show="radar.targeted"
                      x1="{{u.selectedStar.cx()}}"
                      y1="{{u.selectedStar.cy()}}"
                      r="{{radar.zoom}}"
                      x2="{{u.targetedStar.cx()}}"
                      y2="{{u.targetedStar.cy()}}"
                      style="stroke:rgb(255,0,0);stroke-width:2"
                      marker-end="url(\#arrow)"
                />


                <g ng-repeat="star in radar.stars">
                    <use
                            ng-x="{{u.cx(star)}}"
                            ng-y="{{u.cy(star)}}"
                            ng-fill="{{star.color}}"
                            xlink:href="#star"
                            ng-click="toggleTarget(star)"
                            ng-dblclick="select(star)"
                            />
                    <text ng-show='radar.displayText' ng-x="{{u.cx(star) + radar.offsetDefenseX * radar.zoom / 20}}" ng-y="{{u.cy(star) + radar.offsetDefenseY * radar.zoom / 20}}" ng-fill="{{star.color}}" ng-click="toggleTarget(star)" ng-dblclick="select(star)">{{star.defense}}</text>
                    />
                </g>

                <rect ng-show="radar.targeted" ng-width="{{100}}" ng-height="{{100}}"
                      fill="green" stroke-width="1" stroke:"black"/>
                <text ng-show="radar.targeted" ng-x="5" ng-y="20" ng-fill="yellow">{{radar.targeted.commander}}</text>
                <text ng-show="radar.targeted" ng-x="5" ng-y="40" ng-fill="yellow">Name: {{radar.targeted.name}}</text>
                <text ng-show="radar.targeted" ng-x="5" ng-y="60" ng-fill="yellow">Defense: {{radar.targeted.defense}}</text>
                <text ng-show="radar.targeted" ng-x="5" ng-y="80" ng-fill="yellow">Pop:{{radar.targeted.pop}}</text>




            </svg>
            <div>
                <button ng-click="scrollUp()"><i class="icon-circle-arrow-up icon-4x"></i></button>
                <button ng-click="scrollDown()"><i class="icon-circle-arrow-down icon-4x"></i></button>
                <button ng-click="scrollLeft()"><i class="icon-circle-arrow-left icon-4x"></i></button>
                <button ng-click="scrollRight()"><i class="icon-circle-arrow-right icon-4x"></i></button>
                &nbsp;
                <button ng-click="zoomP()"><i class="icon-plus-sign icon-4x"></i></button>
                <button ng-click="zoomM()"><i class="icon-minus-sign icon-4x"></i></button>
            </div>
        </div>

<!--    <div>
            <h3>Stars <i class="icon-star-empty"></i></h3>

            <p>Here you can get more details about all the stars you can see in the radar.</p>

            <table class="table table-striped" style="width:25%">
                <thead>
                <tr><th>T</th><th>Name</th><th>Defense</th><th>Pop</th><th>Owner</th><th>Action</th></tr>
                </thead>
                <tbody>
                <tr ng-repeat="star in radar.stars" ng-click="toggleTarget(star)" ng-dblclick="select(star)">
                    <td><span ng-show="star.name == radar.toggleTargeted.name">X</span></td>
                    <td ng-class="{selected: star.name == radar.selected.name}">{{star.name}}</td>
                    <td ng-class="{selected: star.name == radar.selected.name}">{{star.defense}}</td>
                    <td ng-class="{selected: star.name == radar.selected.name}">{{star.pop}}</td>
                    <td ng-class="{selected: star.name == radar.selected.name}">{{star.commander}}</td>
                    <td>
                      <button ng-show="lootActive(star)" class="btn" ng-click="loot(star)">Loot</button>
                      <button ng-show="developActive(star)" class="btn" ng-click="develop(star)">Develop</button>
                      <button ng-show="attackActive(star)" class="btn" ng-click="attack(star)">Attack</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div> -->

    </div>
    <div style="clear:both"/>

</div>
</body>
</html>
