<!doctype html>
<html ng-app="app">
<head>
    <script src="/assets/javascripts/angular-1.0.5.js"></script>
    <script src="/assets/javascripts/angular-resource-1.0.5.js"></script>
    <script src="/assets/javascripts/ui-bootstrap-0.4.0.js"></script>
    <script src="/assets/javascripts/radar.js"></script>
    <link href="/assets/stylesheets/main.css" rel="stylesheet">
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/assets/stylesheets/font-awesome.css" rel="stylesheet">
</head>
<body>

<div class="well" ng-controller="RadarController">
    <h1 tooltip="test">The fourth Anomaly</h1>
    <p>« The fourth anomaly» is based on the game « Anomalie 4 » and is a strategy - diplomacy game.</p>

    <hr/>

    <h2><strong>Welcome Commander {{commander.name}}</strong></h2>

    <div>
        <div style="width:70%;float:right;">
            <h3>Radar <i class="icon-compass"></i></h3>

            <p>The radar displays all your stars and the visible stars from your kingdom.</p>

            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="{{radar.sizeY}}px" width="{{radar.sizeX}}px">
                <path id="star" transform="scale({{radar.zoom}},{{radar.zoom}})" d="M 0 -1 L 0.588 0.809 -0.951 -0.309 0.951 -0.309 -0.588 0.809 Z"/>
                </defs>
                <rect width="{{radar.sizeX}}" height="{{radar.sizeY}}"
                      style="fill:rgb(230,230,230);stroke-width:1;stroke:rgb(0,0,0)"/>
                <circle cx="{{radar.centerX + radar.selected.x * radar.zoom}}" cy="{{radar.centerY + radar.selected.y * radar.zoom + radar.offsetY}}" r="{{radar.zoom}}" stroke="black" stroke-width="1" fill-opacity="0.1" />
                <circle cx="{{radar.centerX + radar.selected.x * radar.zoom}}" cy="{{radar.centerY + radar.selected.y * radar.zoom + radar.offsetY}}" r="{{radar.zoom * 7.07}}" stroke="yellow" stroke-width="0.5" fill-opacity="0.1" />
                <circle cx="{{radar.centerX + radar.targeted.x * radar.zoom}}" cy="{{radar.centerY + radar.targeted.y * radar.zoom + radar.offsetY}}" r="{{radar.zoom}}" stroke="red" stroke-width="0.5" fill-opacity="0.1" />
                <line x1="{{radar.centerX + radar.selected.x * radar.zoom}}"
                      y1="{{radar.centerY + radar.selected.y * radar.zoom + radar.offsetY}}" r="{{radar.zoom}}"
                      x2="{{radar.centerX + radar.targeted.x * radar.zoom}}"
                      y2="{{radar.centerY + radar.targeted.y * radar.zoom + radar.offsetY}}"
                      style="stroke:rgb(255,0,0);stroke-width:2"/>
                <g ng-repeat="star in radar.stars">
                    <use x="{{radar.centerX + star.x * radar.zoom}}" y="{{radar.centerY + star.y * radar.zoom + radar.offsetY}}" fill="{{star.color}}" xlink:href="#star" ng-click="target(star)" ng-dblclick="select(star)"/>
                    <text ng-show='radar.displayText' x="{{radar.centerX + radar.offsetDefenseX * radar.zoom / 10 + star.x * radar.zoom}}" y="{{radar.centerY + radar.offsetDefenseY * radar.zoom / 10 + star.y * radar.zoom + radar.offsetY}}" fill="{{star.color}}" ng-click="target(star)" ng-dblclick="select(star)">{{star.defense}}</text>
                </g>
            </svg>
            <div>
                <button ng-click="scrollUp()"><i class="icon-circle-arrow-up icon-4x"></i></button>
                <button ng-click="scrollDown()"><i class="icon-circle-arrow-down icon-4x"></i></button>
                <button ng-click="scrollLeft()"><i class="icon-circle-arrow-left icon-4x"></i></button>
                <button ng-click="scrollRight()"><i class="icon-circle-arrow-right icon-4x"></i></button>
                &nbsp;
                <button ng-click="zoomP()"><i class="icon-plus-sign icon-4x"></i></button>
                <button ng-click="zoomM()"><i class="icon-minus-sign icon-4x"></i></button>
            </div>
        </div>

        <div>
            <h3>Status</h3>

            <div ng-show="lootActive()">Loot star '{{radar.selected.name}}' : <button class="btn" ng-click="loot(radar.selected)">Loot</button></div>
            <div ng-show="developActive()">Develop star '{{radar.selected.name}}' : <button class="btn" ng-click="develop(radar.selected)">Develop</button></div>
            <div ng-show="attackActive()">Attack star '{{radar.selected.name}}' : <button class="btn" ng-click="zoomP()">Loot</button></div>



            <h3>Stars <i class="icon-star-empty"></i></h3>

            <p>Here you can get more details about all the stars you can see in the radar.</p>

            <table class="table table-striped" style="width:20%">
                <thead>
                <tr><th>T</th><th>Name</th><th>X</th><th>Y</th><th>Defense</th><th>Pop</th><th>Owner</th></tr>
                </thead>
                <tbody>
                <tr ng-repeat="star in radar.stars" ng-click="target(star)" ng-dblclick="select(star)">
                    <td><span ng-show="star.name == radar.targeted.name">X</span></td>
                    <td ng-class="{selected: star.name == radar.selected.name}">{{star.name}}</td>
                    <td ng-class="{selected: star.name == radar.selected.name}">{{star.x}}</td>
                    <td ng-class="{selected: star.name == radar.selected.name}">{{star.y}}</td>
                    <td ng-class="{selected: star.name == radar.selected.name}">{{star.defense}}</td>
                    <td ng-class="{selected: star.name == radar.selected.name}">{{star.pop}}</td>
                    <td ng-class="{selected: star.name == radar.selected.name}">{{star.commander}}</td>
                </tr>
                </tbody>

            </table>

        </div>

    </div>
    <div style="clear:both"/>

</div>
</body>
</html>
